body, h1, h2, ul, li, p, form {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
    font-size: medium;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #4785f8;
  color: #ffffffcc;
  padding: 5px 0;
  text-align: center;
  z-index: 1;
}

header h1 a {
  font-family:cursive;
  text-decoration: none;
  color: #eeecec;
}

nav ul {
  list-style: none;
  text-align: center;
  margin-top: 16px;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #f0f0f0af;
  font-weight: bold;
}

#contact {
  background-color: #fff;
  padding: 120px 0;
}

#contact .container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#contact h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  max-width: 500px;
  margin: 0 auto;
}

#contact label {
  display: block;
  margin-bottom: 10px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#contact button {
  background-color: #2568e6ab;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#contact button:hover {
  background-color: #28a5ec;
}

footer {
  background-color: #4785f8;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


@media screen and (max-width: 768px) {
  header h1 a {
    font-size: 24px;
  }

  nav li {
    margin-right: 10px;
  }

  #contact form {
    max-width: 90%;
  }
}
